body {
  margin: 0 auto;
  max-width: 50em;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
  padding-top: 5px;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
  color: #333;
}

h1 {
  color: #333;
}

a {
	color: blue;
	text-decoration: none;
	border-style: solid;
	padding: 5px;
	border-color: black;
	background-color: #999;
	border-radius: 10px;
}
